<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d9d2324d55.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <li><%= link_to "Bookers", root_path %></li>
        <ul class = "menu">
          <% if user_signed_in? %>
            <li class = "menu-item">
              <%= link_to user_path(current_user.id) do %>
                <i class="fa-solid fa-home"></i>Home
              <% end %>
            </li>
            <li class = "menu-item">
              <%= link_to users_path do %>
                <i class="fa-solid fa-users"></i>Users
              <% end %>
            </li>
            <li class = "menu-item">
              <%= link_to books_path do %>
                <i class="fa-solid fa-book-open"></i>Books
              <% end %>
            </li>
            <li class = "menu-item">
              <%= link_to destroy_user_session_path, method: :delete  do%>
                <i class="fa-solid fa-sign-out-alt"></i>Log out
              <% end %>
            </li>
          <% else %>
            <li class = "menu-item">
              <%= link_to root_path do %>
                <i class="fa-solid fa-home"></i>Home
              <% end %>
            </li>
            <li class = "menu-item">
              <%= link_to about_path do %>
                <i class="fa-solid fa-link"></i>About
              <% end %>
            </li>
            <li class = "menu-item">
              <%= link_to new_user_registration_path do %>
                <i class="fa-solid fa-user-plus"></i>Sign up
              <% end %>
            </li>
            <li class = "menu-item">
              <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-sign-in-alt"></i>Log in
              <% end %>
            </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
    <footer>
      CopyRight Infratop.inc
    </footer>
  </body>
</html>
